// Special CSS for layout

div.column {
  float: inherit;
}


// Generic Group CSS
ol.group {
	margin:0 0 5px;
	background:#f7fbfc;
	border:1px solid #c5d5dd;
	font-size: 13px;
	list-style-type: none;
}

div.group-item {
	border-bottom: 1px solid #c5d5dd;
	overflow: hidden;
}

div.group-item.active {
  background: rgb(247,255,201); /* Old browsers */
  background: -moz-linear-gradient(left,  rgba(247,255,201,1) 0%, rgba(255,255,255,1) 50%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(247,255,201,1)), color-stop(50%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  rgba(247,255,201,1) 0%,rgba(255,255,255,1) 50%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  rgba(247,255,201,1) 0%,rgba(255,255,255,1) 50%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  rgba(247,255,201,1) 0%,rgba(255,255,255,1) 50%); /* IE10+ */
  background: linear-gradient(to right,  rgba(247,255,201,1) 0%,rgba(255,255,255,1) 50%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7ffc9', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
}

div.group-item.overdue {
  background: rgb(255,201,201); /* Old browsers */
  background: -moz-linear-gradient(left,  rgba(255,201,201,1) 0%, rgba(255,255,255,1) 50%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,201,201,1)), color-stop(50%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  rgba(255,201,201,1) 0%,rgba(255,255,255,1) 50%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  rgba(255,201,201,1) 0%,rgba(255,255,255,1) 50%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  rgba(255,201,201,1) 0%,rgba(255,255,255,1) 50%); /* IE10+ */
  background: linear-gradient(to right,  rgba(255,201,201,1) 0%,rgba(255,255,255,1) 50%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc9c9', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
}

div.group-item.ready {
  background: rgb(195,255,191); /* Old browsers */
  background: -moz-linear-gradient(left,  rgba(195,255,191,1) 0%, rgba(255,255,255,1) 50%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(195,255,191,1)), color-stop(50%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  rgba(195,255,191,1) 0%,rgba(255,255,255,1) 50%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  rgba(195,255,191,1) 0%,rgba(255,255,255,1) 50%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  rgba(195,255,191,1) 0%,rgba(255,255,255,1) 50%); /* IE10+ */
  background: linear-gradient(to right,  rgba(195,255,191,1) 0%,rgba(255,255,255,1) 50%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c3ffbf', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
}

h3.group-heading{
	margin:15px 0 0;
	padding:5px 8px;
	font-size:13px;
	color:#3a505b;
	text-shadow:0 1px white;
	background:#e6f1f6;
	border: 1px solid #c5d5dd;
	border-bottom: 0px;
}

p.date {
	display: block;
	float: left;
	margin: 1px 5px;
	font-size:12px;
	color:#3a505b;
	text-shadow:0 1px white;
}

div.actions {
  text-align: right;
  height: 100%;
}

li.task ul.actions li.action-item {
	display: inline-block;
	vertical-align: bottom;
	height:40px;
}


// Lesson Group CSS

div.lesson-info {
  position: absolute;
  width: 270px;
}

div.lesson-status {
  height: 100%;
  margin-left: 270px;
  width: 273px;
  background: white;
  border: 1px solid #ddd;
  padding: 0px 5px;
  margin-top: 5px;
}

p.lesson-status-item {
  display: inline-block;
  margin: 5px 0px;
}


// Task Group CSS

div.task-info {
  margin-left: 55px;
  float: left;
  height: 100%
}

p.lesson-title {
  margin:1px 5px;
	font-size:14px;
	font-weight:bold;
	color:#333;
}

p.task-title {
	margin:1px 5px;
	font-size:14px;
	font-weight:bold;
	color:#333;
}

// Issue group display

div.issue-info {
  margin-left: 55px;
  float: left;
  height: 100%;
  width: 270px;
}

div.issue-content {
  height: 100%;
}

p.issue-body {
  font-size: 14px;
}

// Member display
div.member {
	position: absolute;
	text-align: left;
	margin: 2px 2px;
	font-size:16px;
	width: 50px;
	border: 1px solid #ddd;
}

.member-image {
  background: #fff;
  height: 40px;
  margin: 2px 0px 0px 0px;
  text-align: center;
}

.member-name {
  background: #ddd;
  text-align: center;
  height: 20px;
  margin-bottom: 0em;
}

.member-name a {
  font-size: 10px;
  color: black;
  text-transform: uppercase;
}

// Invisible buttons for form submit images
button.no-format {
  padding:0; 
  margin:0;
  border:0;
  background-color:transparent;
}