h3.lesson-group-heading{
	margin:15px 0 0;
	padding:5px 8px;
	font-size:13px;
	color:#3a505b;
	text-shadow:0 1px white;
	background:#e6f1f6;
	border: 1px solid #c5d5dd;
	border-bottom: 0px;
}

ol.lesson-group {
	margin:0 0 5px;
	background:#f7fbfc;
	border:1px solid #c5d5dd;
	font-size: 13px;
	list-style-type: none;
}

li.lesson ul.lesson-actions {
	list-style-type: none;
	margin: 1px 5px;
	text-align: right;
}

div.lesson {
	border-bottom: 1px solid #c5d5dd;
	overflow: hidden;
}

li.lesson ul.lesson-actions li.lesson-action-item {
	display: inline-block;
	vertical-align: bottom;
	height:40px;
}

p.lesson-due-date {
	display: block;
	float: left;
	margin: 1px 5px;
	font-size:12px;
	color:#3a505b;
	text-shadow:0 1px white;
}

div.lesson-member {
	position: absolute;
	text-align: left;
	margin: 1px 5px;
	font-size:16px;
	width: 4em;
	height: 100%;
}

div.lesson-info {
  margin-left: 4em;
  float: left;
  height: 100%
}

div.lesson-actions {
  text-align: right;
  height: 100%;
  
}

p.task-title {
	margin:1px 5px;
	font-size:14px;
	font-weight:bold;
	color:#333;
}

p.lesson-title {
  margin:1px 5px;
	font-size:14px;
	font-weight:bold;
	color:#333;
}

.lesson .lesson-title a{
	color:#333;
}

button.no-format {
  padding:0; 
  margin:0;
  border:0;
  background-color:transparent;
}