// Special CSS for layout

div.column {
  float: inherit;
}

div.centered {
  text-align: center;
}

span.strong {
  font-weight: bold;
}

p.inspirational {
  font-style: oblique;
  font-family: cursive;
  font-size: 26px;
}

// Task Sheet CSS

div.member-status {
  background: #eee;
}

div.member-status p {
  padding-top: 5px;
  padding-left: 15px;
  margin-bottom: 0em;
  font-style: oblique;
  
}

div.member-status div.row {
  padding: 15px;
  margin-bottom: 10px;
}

span.status-name {
  font-size: 17pt;
  width: 120px;
  position: absolute;
}

input.status-entry {
  margin-left: 120px;
}

// Generic Group CSS
ol.group {
	margin:0 0 5px;
	background:#f7fbfc;
	border:1px solid #ccc;
	font-size: 13px;
	list-style-type: none;
	border-collapse: collapse;
}

div.group-item {
	border-bottom: 1px solid #ccc;
	min-height: 70px;
	overflow: hidden;
}

div.group-item.active {
  background: rgb(247,255,201); /* Old browsers */
  background: -moz-linear-gradient(left,  rgba(247,255,201,1) 0%, rgba(255,255,255,1) 50%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(247,255,201,1)), color-stop(50%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  rgba(247,255,201,1) 0%,rgba(255,255,255,1) 50%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  rgba(247,255,201,1) 0%,rgba(255,255,255,1) 50%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  rgba(247,255,201,1) 0%,rgba(255,255,255,1) 50%); /* IE10+ */
  background: linear-gradient(to right,  rgba(247,255,201,1) 0%,rgba(255,255,255,1) 50%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7ffc9', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
}

div.group-item.overdue {
  background: rgb(255,201,201); /* Old browsers */
  background: -moz-linear-gradient(left,  rgba(255,201,201,1) 0%, rgba(255,255,255,1) 50%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,201,201,1)), color-stop(50%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  rgba(255,201,201,1) 0%,rgba(255,255,255,1) 50%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  rgba(255,201,201,1) 0%,rgba(255,255,255,1) 50%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  rgba(255,201,201,1) 0%,rgba(255,255,255,1) 50%); /* IE10+ */
  background: linear-gradient(to right,  rgba(255,201,201,1) 0%,rgba(255,255,255,1) 50%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc9c9', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
}

div.group-item.ready {
  background: rgb(195,255,191); /* Old browsers */
  background: -moz-linear-gradient(left,  rgba(195,255,191,1) 0%, rgba(255,255,255,1) 50%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(195,255,191,1)), color-stop(50%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  rgba(195,255,191,1) 0%,rgba(255,255,255,1) 50%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  rgba(195,255,191,1) 0%,rgba(255,255,255,1) 50%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  rgba(195,255,191,1) 0%,rgba(255,255,255,1) 50%); /* IE10+ */
  background: linear-gradient(to right,  rgba(195,255,191,1) 0%,rgba(255,255,255,1) 50%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c3ffbf', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
}

h3.group-heading{
	margin:15px 0 0;
	padding:5px 8px;
	font-size:13px;
	color:#3a505b;
	text-shadow:0 1px white;
	background:#e6f1f6;
	border: 1px solid #c5d5dd;
	border-bottom: 0px;
}

.actions {
  text-align: right;
  height: 100%;
}

.action-item {
	display: inline-block;
	vertical-align: bottom;
	height:40px;
	padding: 8px;
}


// Lesson Group CSS

div.lesson-production {
  width: 273px;
  float: right;
}

div.lesson-info {
  width: 100%;
}

p.date {
  font-size: 12px;
  font-style: oblique;
  color: black;
  padding: 2px;
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 2px;
  float: left;
}

div.lesson-info a.lesson-title {
  background: #f4f4f4;
  display: block;
  font-size: 14px;
  font-weight: bold;
  text-align: left;
  color: black;
  padding-left: 5px;
}

div.lesson-info a.lesson-title:hover {
  background: #ccc;
}

div.lesson-status {
  height: 100%;
  margin-left: 270px;
  width: 273px;
  background: white;
  border-left: 1px solid #ddd;
  float: right;
  padding: 0px 5px;
}

p.lesson-status-item {
  display: inline-block;
  margin: 5px 0px;
}

a.issues-bar {
  background: #f4f4f4;
  color: #fff;
  display: block;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  width: 273px;
  height: 100%;
  float: right;
  color: black;
}

a.issues-bar:hover {
  background:#ccc;
}

div.qa-status {
  
}

// Series Group CSS
div.series-info {
  background: #eee;
}

div.series-status {
  width: 273px;
  float: right;
}

div.series-status p {
  font-size: 12px;
}

a.series-title {
  background: #f4f4f4;
  display: block;
  font-size: 18px;
  font-weight: bold;
  text-align: left;
  color: black;
  height: 70px;
  padding: 5px;
}

a.series-title:hover {
  background: #eee;
}

// Task Group CSS

div.task-info {
  margin-left: 55px;
  height: 20px;
}

p.task-title {
	margin:1px 5px;
	font-size:14px;
	font-weight:bold;
	color:#333;
}

div.task-info p.lesson-title {
  margin-bottom: 0em;
  background: #ddd;
  display: block;
  font-size: 14px;
  font-weight: bold;
  text-align: left;
  color: black;
  padding-left: 5px;
  width: 100%
}

// Issue group display

div.issue-info {
  margin-left: 55px;
}

div.issue-info p.lesson-title {
  margin-bottom: 0em;
  background: #ddd;
  display: block;
  font-size: 14px;
  font-weight: bold;
  text-align: left;
  color: black;
  padding-left: 5px;
  width: 100%
}

div.issue-info p.date {
  float: left;
}

div.issue-content {
  height: 100%;
  margin-left: 270px;
}

p.issue-body {
  background: white;
  padding: 5px;
  font-size: 12px;
  margin-bottom:0.25em;
  margin-top: 5px;
  margin-right: 5px;
  border: dotted 1px #ddd;
}

// Shift group display


// Activity group display

div.activity-list {
  margin-left: 55px;
}

div.activity {
  background: #fff;
}

div.activity a.activity-name {
  margin-left: 150px;
  padding: 5px;
}

div.activity.active {
  background: rgb(247,255,201); /* Old browsers */
  background: -moz-linear-gradient(left,  rgba(247,255,201,1) 0%, rgba(255,255,255,1) 50%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(247,255,201,1)), color-stop(50%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  rgba(247,255,201,1) 0%,rgba(255,255,255,1) 50%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  rgba(247,255,201,1) 0%,rgba(255,255,255,1) 50%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  rgba(247,255,201,1) 0%,rgba(255,255,255,1) 50%); /* IE10+ */
  background: linear-gradient(to right,  rgba(247,255,201,1) 0%,rgba(255,255,255,1) 50%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7ffc9', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
}

p.start-time {
  position: absolute;
  margin-left: 5px;
  width: 70px;
  font-size: 10pt;
}

p.end-time {
  position: absolute;
  margin-left: 70px;
  width: 70px;
  font-size: 10pt;
}

// Member display
div.member {
	position: absolute;
	text-align: left;
	margin: 2px 2px;
	font-size:16px;
	width: 50px;
	border: 1px solid #ddd;
}

.member-image {
  background: #fff;
  height: 40px;
  margin: 2px 0px 0px 0px;
  text-align: center;
}

.member-name {
  background: #ddd;
  text-align: center;
  height: 20px;
  margin-bottom: 0em;
}

.member-name a {
  font-size: 10px;
  color: black;
  text-transform: uppercase;
}

// Invisible buttons for form submit images
button.no-format {
  padding:0; 
  margin:0;
  border:0;
  background-color:transparent;
}

input.no-format {
  padding:0; 
  margin:0;
  border:0;
  background-color:transparent;
}