html, body {
	font-family: Arial,Tahoma,Geneva,sans-serif;
	width: 988px;
	margin: auto;
	background:#2B313B;
		background: url(images/noisetexture.png), -webkit-linear-gradient(#475161,#2A313B) no-repeat, #2B313B;
		background: url(images/noisetexture.png), -moz-linear-gradient(#475161,#2A313B) no-repeat, #2B313B;
		background: url(images/noisetexture.png), -o-linear-gradient(#475161,#2A313B) no-repeat, #2B313B;
		background: url(images/noisetexture.png), -ms-linear-gradient(#475161,#2A313B) no-repeat, #2B313B;
		background: url(images/noisetexture.png), linear-gradient(#475161,#2A313B) no-repeat, #2B313B;
	    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#475161', EndColorStr='#2B313B');
		
}

div {
	text-align: left;
	padding-left: 1em;
}

#content {
	background: #fff;
}

div#user-info {
	font-size: 80%;
	padding: none;
	color: #444;
}

div#YouTube {
	padding: 1em;
	margin: 1em;
	text-align: center;
}

div#navbar {
	font-size: 90%;
}

div.message {
	border: 2px solid black;
}

div.panel {
	background: #eaeaea;
	width: 420px;
	
	margin: 15px;
	float:left;
}

div.panel strong {
	font-weight: bold;
}

div.panel table {
	width: 380px;
}

a {
	color: #13006b;
	text-decoration: none;
}

a:hover {
	color: #433dbd;
}

tr:hover td {
	background: #f7f7f7;
}

tr.overdue td {
	background: #ffdddd;
	font-weight: bold;
}

tr.overdue:hover td {
	background: #ffbbbb;
	font-weight: bold;
}

tr.completed td {
	background: #c9ffd8;
}

tr.completed:hover td {
	background: #84ffab;
}

tr.actionable td {
	background: #fbffcc;
}

tr.actionable:hover td {
	actionable: #f0fa7c;
}

iframe {
	margin: auto;
}

table {
	background: #f7f7f7;
	border-spacing: 0px 2px;
	border-collapse: collapse;
	width: 900px;
}

td {
	width: auto;
	line-height: normal;
	padding: 3px 10px;
	background: #fff;
}

th {
	text-align: left;
	color: #eee;
	width: auto;
	line-height: normal;
	padding: 3px 10px;
	background: #222;
}

td.active {
	color: #1330b0;
	font-weight: bold;
}

form {
	display: inline;
}